.header nav {
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.header a {
  text-decoration: none;
  cursor: pointer;
}

.header a:visited {
  color: inherit;
}

.header a:hover {
  color: blueviolet;
}
